dify/kpi-analyst.yml
app:
  description: >-
    Workflow analisis KPI maskapai penerbangan.
    3 action: analyze, summarize, suggest.
    Menggunakan Knowledge Base kpi-context dan data eksternal.
  icon: "\U0001F4CA"
  icon_background: "#E0F2FE"
  icon_type: emoji
  mode: workflow
  name: kpi-analyst
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
    opening_statement: ""
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ""
      voice: ""
  graph:
    edges:
      - data:
          isInIteration: false
          sourceType: start
          targetType: knowledge-retrieval
        id: start-knowledge
        source: start
        target: knowledge
      - data:
          isInIteration: false
          sourceType: knowledge-retrieval
          targetType: if-else
        id: knowledge-branch
        source: knowledge
        target: branch
      - data:
          isInIteration: false
          sourceType: if-else
          targetType: llm
        id: branch-analyze
        source: branch
        sourceHandle: case_analyze
        target: llm_analyze
      - data:
          isInIteration: false
          sourceType: if-else
          targetType: llm
        id: branch-summarize
        source: branch
        sourceHandle: case_summarize
        target: llm_summarize
      - data:
          isInIteration: false
          sourceType: if-else
          targetType: llm
        id: branch-suggest
        source: branch
        sourceHandle: "false"
        target: llm_suggest
      - data:
          isInIteration: false
          sourceType: llm
          targetType: end
        id: analyze-end
        source: llm_analyze
        target: end_node
      - data:
          isInIteration: false
          sourceType: llm
          targetType: end
        id: summarize-end
        source: llm_summarize
        target: end_node
      - data:
          isInIteration: false
          sourceType: llm
          targetType: end
        id: suggest-end
        source: llm_suggest
        target: end_node
    nodes:
      - data:
          desc: ""
          title: Start
          type: start
          variables:
            - label: Action
              max_length: 48
              options:
                - analyze
                - summarize
                - suggest
              required: true
              type: select
              variable: action
            - label: Nama Departemen
              max_length: 255
              required: true
              type: text-input
              variable: dept_name
            - label: Periode (YYYY-MM)
              max_length: 7
              required: true
              type: text-input
              variable: period
            - label: KPI Data (JSON)
              max_length: 65536
              required: true
              type: paragraph
              variable: kpi_data
            - label: External Data (JSON)
              max_length: 65536
              required: false
              type: paragraph
              variable: external_data
        height: 116
        id: start
        position:
          x: 80
          y: 282
        type: custom
        width: 244
      - data:
          dataset_ids: []
          desc: Ambil konteks dari Knowledge Base kpi-context
          multiple_retrieval_config:
            reranking_enable: false
            score_threshold: 0.5
            score_threshold_enabled: true
            top_k: 5
          query_variable_selector:
            - start
            - dept_name
          retrieval_mode: multiple
          single_retrieval_config:
            model:
              completion_params:
                temperature: 0.3
              mode: chat
              name: qwen-max
              provider: tongyi
          title: Knowledge Retrieval
          type: knowledge-retrieval
        height: 54
        id: knowledge
        position:
          x: 400
          y: 282
        type: custom
        width: 244
      - data:
          cases:
            - case_id: case_analyze
              conditions:
                - comparison_operator: is
                  value: analyze
                  variable_selector:
                    - start
                    - action
              logical_operator: and
            - case_id: case_summarize
              conditions:
                - comparison_operator: is
                  value: summarize
                  variable_selector:
                    - start
                    - action
              logical_operator: and
          desc: Route berdasarkan input action (default = suggest)
          title: Branch by Action
          type: if-else
        height: 126
        id: branch
        position:
          x: 720
          y: 282
        type: custom
        width: 244
      - data:
          context:
            enabled: false
            variable_selector: []
          desc: Analisis mendalam KPI underperform
          model:
            completion_params:
              max_tokens: 4096
              temperature: 0.4
              top_p: 0.9
            mode: chat
            name: qwen-max
            provider: tongyi
          prompt_template:
            - role: system
              text: >-
                Kamu adalah KPI analyst senior maskapai penerbangan.


                Analisis data KPI berikut dan identifikasi:

                1. KPI yang underperform (ach_rate < 90%)

                2. Root cause analysis berdasarkan key drivers

                3. Dampak terhadap pilar strategis perusahaan

                4. Konteks data eksternal yang relevan

                5. Tren dan pola yang perlu diperhatikan


                Gunakan bahasa Indonesia formal. Jawab komprehensif dan
                terstruktur.


                --- ATURAN GRADE ---

                🟢 Hijau: total_score >= 90%

                🟡 Kuning: total_score 75-89%

                🔴 Merah: total_score < 75%


                --- RUMUS ---

                Polaritas MAX: ach_rate = actual / target

                Polaritas MIN: ach_rate = target / actual

                Score = ach_rate x bobot

                Total Score = jumlah seluruh score
            - role: user
              text: >-
                Departemen: {{#start.dept_name#}}

                Periode: {{#start.period#}}


                Data KPI:

                {{#start.kpi_data#}}


                Data Eksternal:

                {{#start.external_data#}}


                Konteks Knowledge Base:

                {{#knowledge.result#}}


                Lakukan analisis mendalam. Strukturkan jawaban dengan heading
                per KPI yang underperform.
          title: LLM Analyze
          type: llm
          vision:
            enabled: false
        height: 98
        id: llm_analyze
        position:
          x: 1060
          y: 80
        type: custom
        width: 244
      - data:
          context:
            enabled: false
            variable_selector: []
          desc: Executive summary ringkas untuk Direksi
          model:
            completion_params:
              max_tokens: 2048
              temperature: 0.3
              top_p: 0.9
            mode: chat
            name: qwen-max
            provider: tongyi
          prompt_template:
            - role: system
              text: >-
                Kamu adalah senior business analyst maskapai penerbangan.


                Buat executive summary ringkas (maksimal 300 kata) dari data
                KPI berikut untuk Direksi.


                Format wajib:

                1. **Ringkasan Performa** - Total score dan grade keseluruhan

                2. **KPI Kritis** - Daftar KPI dengan ach_rate < 90% beserta
                dampaknya

                3. **Highlight Positif** - KPI yang melampaui target

                4. **3 Rekomendasi Utama** - Actionable, spesifik, dengan
                timeline


                Gunakan bahasa Indonesia formal, ringkas, dan langsung ke
                inti.

                Sertakan emoji grade: 🟢 >=90% | 🟡 75-89% | 🔴 <75%
            - role: user
              text: >-
                Departemen: {{#start.dept_name#}}

                Periode: {{#start.period#}}


                Data KPI:

                {{#start.kpi_data#}}


                Data Eksternal:

                {{#start.external_data#}}


                Konteks Knowledge Base:

                {{#knowledge.result#}}


                Buat executive summary.
          title: LLM Summarize
          type: llm
          vision:
            enabled: false
        height: 98
        id: llm_summarize
        position:
          x: 1060
          y: 340
        type: custom
        width: 244
      - data:
          context:
            enabled: false
            variable_selector: []
          desc: Rekomendasi improvement actionable per KPI
          model:
            completion_params:
              max_tokens: 4096
              temperature: 0.5
              top_p: 0.9
            mode: chat
            name: qwen-max
            provider: tongyi
          prompt_template:
            - role: system
              text: >-
                Kamu adalah konsultan KPI maskapai penerbangan.


                Berikan rekomendasi improvement yang spesifik dan actionable
                untuk setiap KPI dengan ach_rate < 90%.


                Format per KPI:

                | No | KPI | ach_rate | Rekomendasi | Target Perbaikan | PIC
                | Timeline |


                Setelah tabel, berikan:

                1. **Quick Wins** - Perbaikan yang bisa dilakukan dalam 1
                bulan

                2. **Medium-term** - Perbaikan 1-3 bulan

                3. **Strategic** - Inisiatif strategis 3-6 bulan


                Pertimbangkan data eksternal (kurs, harga avtur, inflasi)
                dalam rekomendasi.

                Gunakan bahasa Indonesia formal.
            - role: user
              text: >-
                Departemen: {{#start.dept_name#}}

                Periode: {{#start.period#}}


                Data KPI:

                {{#start.kpi_data#}}


                Data Eksternal:

                {{#start.external_data#}}


                Konteks Knowledge Base:

                {{#knowledge.result#}}


                Berikan rekomendasi improvement.
          title: LLM Suggest
          type: llm
          vision:
            enabled: false
        height: 98
        id: llm_suggest
        position:
          x: 1060
          y: 600
        type: custom
        width: 244
      - data:
          outputs:
            - value_selector:
                - llm_analyze
                - text
              variable: result
          title: End
          type: end
        height: 90
        id: end_node
        position:
          x: 1420
          y: 282
        type: custom
        width: 244
