dify/stable/v3/v3-web-kpi-assistant.yml
app:
  description: Chatflow asisten KPI maskapai penerbangan v3. Mendukung role admin,
    corporate_planning dan direksi. Arsitektur lean - 1 LLM utama, logika classifier
    dan kalkulasi KPI dijalankan via Code node Python.
  icon: "\U0001F916"
  icon_background: '#D1FAE5'
  mode: advanced-chat
  name: v3-web-kpi-assistant
  use_icon_as_answer_icon: true
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.30@04fa1c28928e92e425bc946f8f4f5c8f14d0531786c384f128c0e9445f1eee56
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: "Halo! Saya KPI Assistant v3. Saya bisa membantu Anda:\n- \
      \U0001F4CA Menganalisis data KPI departemen\n- \U0001F4CB Membuat ringkasan\
      \ laporan\n- \U0001F4A1 Memberikan rekomendasi improvement\n- \u2753 Menjawab\
      \ pertanyaan tentang performa KPI\n\nSilakan ajukan pertanyaan Anda."
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - Apa KPI yang paling underperform bulan ini?
    - Berikan ringkasan performa keseluruhan
    - Apa rekomendasi untuk meningkatkan KPI yang merah?
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    # Start → Code Preprocessor (kalkulasi KPI + klasifikasi + ekstrak param)
    - data:
        isInIteration: false
        sourceType: start
        targetType: code
      id: start-preprocess
      source: start
      sourceHandle: source
      target: code_preprocessor
      targetHandle: target
      type: custom

    # Code Preprocessor → IF/ELSE (routing berdasarkan kategori)
    - data:
        isInIteration: false
        sourceType: code
        targetType: if-else
      id: preprocess-ifelse
      source: code_preprocessor
      sourceHandle: source
      target: ifelse_router
      targetHandle: target
      type: custom

    # IF/ELSE → [true branch = kpi/admin] → Knowledge Retrieval
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: ifelse-knowledge
      source: ifelse_router
      sourceHandle: 'true'
      target: knowledge
      targetHandle: target
      type: custom

    # IF/ELSE → [false branch = out_of_scope] → Answer OOS
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: answer
      id: ifelse-oos
      source: ifelse_router
      sourceHandle: 'false'
      target: answer_oos
      targetHandle: target
      type: custom

    # Knowledge Retrieval → LLM Utama
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: knowledge-llm
      source: knowledge
      sourceHandle: source
      target: llm_assistant
      targetHandle: target
      type: custom

    # LLM Utama → Answer
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: llm-answer
      source: llm_assistant
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom

    nodes:
    # ══════════════════════════════════════════════════
    # NODE 1: START
    # ══════════════════════════════════════════════════
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: Role Pengguna
          max_length: 48
          options:
          - corporate_planning
          - direksi
          - admin
          required: true
          type: select
          variable: role
        - label: Konteks Data (JSON)
          max_length: 65536
          required: false
          type: paragraph
          variable: context
      height: 134
      id: start
      position:
        x: 80
        y: 400
      positionAbsolute:
        x: 80
        y: 400
      type: custom
      width: 242

    # ══════════════════════════════════════════════════
    # NODE 2: CODE PREPROCESSOR
    # Menggabungkan 3 tugas sekaligus tanpa LLM:
    #   A) Kalkulasi score KPI + status 🟢🟡🔴
    #   B) Klasifikasi kategori query (keyword-based)
    #   C) Ekstraksi parameter (departemen, periode, metrik)
    #   D) Query rewrite untuk RAG
    # Output:
    #   - kpi_summary      : ringkasan teks score KPI
    #   - kpi_calculated   : JSON detail KPI + score + status
    #   - category         : "kpi_analysis" | "admin_technical" | "out_of_scope"
    #   - param_json       : JSON parameter teridentifikasi
    #   - enriched_query   : query yang diperkaya untuk Knowledge Retrieval
    #   - system_hint      : instruksi tambahan ke LLM berdasarkan kategori & role
    # ══════════════════════════════════════════════════
    - data:
        code: "import json\nimport re\n\n# ─────────────────────────────────────\n\
          # A) KALKULASI SCORE KPI\n# ─────────────────────────────────────\ndef calc_kpi(context_str):\n\
          \    if not context_str or not context_str.strip():\n        return \"Tidak\
          \ ada data KPI.\", \"[]\", 0, 0, 0, 0\n    try:\n        data = json.loads(context_str)\n\
          \    except Exception:\n        return \"Context bukan JSON valid.\", \"\
          []\", 0, 0, 0, 0\n\n    if isinstance(data, dict):\n        for k in [\"\
          kpi\",\"kpis\",\"data\",\"items\",\"metrics\"]:\n            if k in data\
          \ and isinstance(data[k], list):\n                data = data[k]; break\n\
          \        else:\n            return \"Struktur JSON tidak ada array KPI.\"\
          , json.dumps(data,ensure_ascii=False), 0, 0, 0, 0\n\n    if not isinstance(data,\
          \ list):\n        return \"Format data tidak dikenali.\", \"[]\", 0, 0,\
          \ 0, 0\n\n    hasil, hijau, kuning, merah = [], 0, 0, 0\n    for item in\
          \ data:\n        if not isinstance(item, dict): continue\n        nama  \
          \ = item.get(\"nama\") or item.get(\"name\") or item.get(\"kpi_name\") or\
          \ \"Unknown\"\n        aktual = item.get(\"aktual\") or item.get(\"actual\"\
          ) or item.get(\"realisasi\") or 0\n        target = item.get(\"target\"\
          ) or item.get(\"tgt\") or 1\n        pola   = str(item.get(\"pola\") or\
          \ item.get(\"pattern\") or \"MAX\").upper()\n        try:\n            aktual,\
          \ target = float(aktual), float(target)\n            if target == 0: score\
          \ = 0.0\n            elif pola == \"MIN\": score = round((target/aktual)*100,2)\
          \ if aktual else 0.0\n            else: score = round((aktual/target)*100,2)\n\
          \        except: score = 0.0\n        if score >= 90:   status = \"\\U0001f7e2\
          \ Hijau\";  hijau  += 1\n        elif score >= 75: status = \"\\U0001f7e1\
          \ Kuning\"; kuning += 1\n        else:             status = \"\\U0001f534\
          \ Merah\";  merah  += 1\n        e = dict(item); e[\"score_pct\"] = score;\
          \ e[\"status\"] = status\n        hasil.append(e)\n\n    total = len(hasil)\n\
          \    lines = [f\"Total KPI: {total} | \\U0001f7e2 {hijau} | \\U0001f7e1\
          \ {kuning} | \\U0001f534 {merah}\"]\n    reds = [f\"  - {x.get('nama','?')}\
          \ ({x['score_pct']}%)\" for x in hasil if \"Merah\" in x[\"status\"]]\n\
          \    if reds: lines.append(\"KPI Merah:\"); lines.extend(reds)\n    return\
          \ \"\\n\".join(lines), json.dumps(hasil,ensure_ascii=False), total, hijau,\
          \ kuning, merah\n\n\n# ─────────────────────────────────────\n# B) KLASIFIKASI\
          \ KATEGORI (keyword-based, tanpa LLM)\n# ─────────────────────────────────────\n\
          def classify_query(query, role):\n    q = query.lower()\n\n    # Kata kunci\
          \ teknis/admin\n    admin_kw = [\n        \"database\",\"db\",\"schema\"\
          ,\"tabel\",\"table\",\"kolom\",\"column\",\n        \"api\",\"endpoint\"\
          ,\"integrasi\",\"integration\",\"json format\",\n        \"struktur data\"\
          ,\"query sql\",\"sql\",\"error sistem\",\"bug\",\n        \"konfigurasi\"\
          ,\"config\",\"server\",\"deploy\",\"log\",\"debug\"\n    ]\n    # Kata kunci\
          \ out-of-scope\n    oos_kw = [\n        \"cuaca\",\"weather\",\"resep\"\
          ,\"masak\",\"film\",\"lagu\",\"musik\",\n        \"olahraga\",\"bola\",\"\
          politik\",\"berita\",\"news\",\"saham\",\n        \"cryptocurrency\",\"crypto\"\
          ,\"bitcoin\",\"forex\"\n    ]\n    # Kata kunci KPI/bisnis\n    kpi_kw =\
          \ [\n        \"kpi\",\"performa\",\"performance\",\"target\",\"realisasi\"\
          ,\"aktual\",\n        \"score\",\"metrik\",\"metric\",\"departemen\",\"\
          laporan\",\"report\",\n        \"analisis\",\"analysis\",\"rekomendasi\"\
          ,\"recommendation\",\n        \"merah\",\"kuning\",\"hijau\",\"underperform\"\
          ,\"overperform\",\n        \"otp\",\"load factor\",\"cask\",\"rask\",\"\
          revenue\",\"cost\",\"biaya\",\n        \"pendapatan\",\"laba\",\"rugi\"\
          ,\"profit\",\"loss\",\"margin\",\n        \"penumpang\",\"pax\",\"flight\"\
          ,\"penerbangan\",\"rute\",\"route\",\n        \"avtur\",\"fuel\",\"kurs\"\
          ,\"inflasi\",\"trend\",\"ringkasan\",\"summary\"\n    ]\n\n    # Jika role\
          \ admin dan ada keyword teknis → admin_technical\n    if role == \"admin\"\
          \ and any(kw in q for kw in admin_kw):\n        return \"admin_technical\"\
          \n    # Cek out-of-scope dulu (harus mayoritas keyword OOS, bukan hanya\
          \ 1)\n    oos_hits = sum(1 for kw in oos_kw if kw in q)\n    kpi_hits =\
          \ sum(1 for kw in kpi_kw if kw in q)\n    if oos_hits > 0 and kpi_hits\
          \ == 0:\n        return \"out_of_scope\"\n    # Default: kpi_analysis (lebih\
          \ aman)\n    return \"kpi_analysis\"\n\n\n# ─────────────────────────────────────\n\
          # C) EKSTRAKSI PARAMETER (regex/keyword, tanpa LLM)\n# ─────────────────────────────────────\n\
          def extract_params(query):\n    q = query.lower()\n\n    # Deteksi departemen\n\
          \    dept_map = {\n        \"finance\":     [\"finance\",\"keuangan\",\"\
          finansial\"],\n        \"operations\":   [\"operation\",\"operasi\",\"ops\"\
          ,\"operasional\"],\n        \"commercial\":   [\"commercial\",\"komersial\"\
          ,\"revenue\",\"penjualan\"],\n        \"ground handling\": [\"ground\",\"\
          handling\",\"ground handling\"],\n        \"engineering\":   [\"engineering\"\
          ,\"teknik\",\"maintenance\",\"perawatan\"],\n        \"HR\":             [\"
          hr\",\"sdm\",\"human resource\",\"kepegawaian\"],\n        \"IT\":       \
          \      [\"it \",\" it\",\"teknologi informasi\"],\n    }\n    dept = \"ALL\"\
          \n    for d, kws in dept_map.items():\n        if any(kw in q for kw in\
          \ kws):\n            dept = d; break\n\n    # Deteksi periode\n    bulan\
          \ = [\"januari\",\"februari\",\"maret\",\"april\",\"mei\",\"juni\",\n  \
          \          \"juli\",\"agustus\",\"september\",\"oktober\",\"november\",\"\
          desember\"]\n    periode = \"ALL\"\n    for b in bulan:\n        if b in\
          \ q: periode = b.capitalize(); break\n    # Cek kuartal\n    qm = re.search(r'q([1-4])\
          \ ?(\\d{4})?', q)\n    if qm: periode = f\"Q{qm.group(1)}\" + (f\" {qm.group(2)}\"\
          \ if qm.group(2) else \"\")\n    # Cek tahun\n    ym = re.search(r'(202[0-9]|203[0-9])',\
          \ q)\n    if ym and periode == \"ALL\": periode = ym.group(1)\n    if \"\
          bulan ini\" in q: periode = \"bulan ini\"\n    if \"tahun ini\" in q: periode\
          \ = \"tahun ini\"\n\n    # Deteksi metrik\n    metrik_map = {\n        \"\
          OTP\":         [\"otp\",\"on time\",\"ketepatan waktu\"],\n        \"Load\
          \ Factor\": [\"load factor\",\"lf \",\" lf\",\"isian\"],\n        \"CASK\"\
          :        [\"cask\",\"cost per seat\",\"biaya per kursi\"],\n        \"RASK\"\
          :        [\"rask\",\"revenue per seat\"],\n        \"Revenue\":    [\"revenue\"\
          ,\"pendapatan\"],\n        \"Profit\":     [\"profit\",\"laba\",\"margin\"\
          ],\n        \"Pax\":        [\"pax\",\"penumpang\",\"passenger\"],\n    \
          \    \"Fuel Cost\":  [\"avtur\",\"fuel\",\"bbm\",\"bahan bakar\"],\n    }\n\
          \    metrik = \"ALL\"\n    for m, kws in metrik_map.items():\n        if\
          \ any(kw in q for kw in kws):\n            metrik = m; break\n\n    # Deteksi\
          \ tipe request\n    tipe = \"analisis\"\n    if any(w in q for w in [\"rekomendasi\"\
          ,\"saran\",\"improve\",\"solusi\",\"langkah\"]): tipe = \"rekomendasi\"\n\
          \    elif any(w in q for w in [\"ringkasan\",\"summary\",\"rangkuman\",\"\
          overview\"]): tipe = \"summary\"\n    elif any(w in q for w in [\"bandingkan\"\
          ,\"compare\",\"vs\",\"perbandingan\"]): tipe = \"perbandingan\"\n    elif\
          \ any(w in q for w in [\"trend\",\"tren\",\"histori\",\"history\",\"grafik\"\
          ]): tipe = \"trend\"\n    elif any(w in q for w in [\"jelaskan\",\"apa itu\"\
          ,\"pengertian\",\"definisi\"]): tipe = \"penjelasan\"\n\n    return {\"departemen\"\
          : dept, \"periode\": periode, \"metrik\": metrik, \"tipe_request\": tipe}\n\
          \n\n# ─────────────────────────────────────\n# D) QUERY REWRITE (tanpa LLM)\n\
          # ─────────────────────────────────────\ndef rewrite_query(query, params,\
          \ kpi_summary):\n    q = query\n    # Ekspansi singkatan umum\n    expansions\
          \ = {\n        r'\\bOTP\\b': 'OTP (On Time Performance)',\n        r'\\\
          bLF\\b':  'Load Factor (tingkat isian kursi)',\n        r'\\bCASK\\b': 'CASK\
          \ (Cost per Available Seat Kilometer)',\n        r'\\bRASK\\b': 'RASK (Revenue\
          \ per Available Seat Kilometer)',\n        r'\\bPax\\b':  'Pax (jumlah penumpang)',\n\
          \    }\n    for pattern, replacement in expansions.items():\n        q =\
          \ re.sub(pattern, replacement, q, flags=re.IGNORECASE)\n\n    # Tambah konteks\
          \ parameter\n    extras = []\n    if params[\"departemen\"] != \"ALL\":\n\
          \        extras.append(f\"departemen {params['departemen']}\")\n    if params[\"\
          periode\"] != \"ALL\":\n        extras.append(f\"periode {params['periode']}\"\
          )\n    if params[\"metrik\"] != \"ALL\":\n        extras.append(f\"metrik\
          \ {params['metrik']}\")\n    if \"merah\" in query.lower() or \"underperform\"\
          \ in query.lower():\n        extras.append(\"penyebab pencapaian rendah\
          \ rekomendasi peningkatan\")\n    if extras:\n        q = q + \". Fokus\
          \ pada: \" + \", \".join(extras) + \".\"\n\n    # Tambah hint dari ringkasan\
          \ KPI jika ada KPI merah\n    if \"Merah\" in kpi_summary:\n        q +=\
          \ \" Terdapat KPI yang underperform, analisis faktor penyebab.\"\n\n    return\
          \ q\n\n\n# ─────────────────────────────────────\n# E) SYSTEM HINT untuk\
          \ LLM\n# ─────────────────────────────────────\ndef build_system_hint(category,\
          \ role, params):\n    hints = []\n    if category == \"admin_technical\"\
          :\n        hints.append(\"[MODE: IT Analyst] Fokus pada aspek teknis, struktur\
          \ data, dan sistem.\")\n    elif role == \"direksi\":\n        hints.append(\"\
          [MODE: Direksi] Jawaban maksimal 300 kata. Struktur: kondisi terkini → penyebab\
          \ → action plan.\")\n    elif role == \"corporate_planning\":\n        hints.append(\"\
          [MODE: Corporate Planning] Gunakan bahasa analisis bisnis mendalam. Struktur:\
          \ Executive Summary → Analisis → Root Cause → Rekomendasi.\")\n    if params[\"\
          tipe_request\"] == \"rekomendasi\":\n        hints.append(\"User meminta\
          \ REKOMENDASI konkret, bukan hanya analisis.\")\n    elif params[\"tipe_request\"\
          ] == \"summary\":\n        hints.append(\"User meminta RINGKASAN, sajikan\
          \ poin-poin utama secara padat.\")\n    elif params[\"tipe_request\"] ==\
          \ \"perbandingan\":\n        hints.append(\"User meminta PERBANDINGAN, gunakan\
          \ format tabel atau list paralel.\")\n    return \" | \".join(hints) if\
          \ hints else \"\"\n\n\n# ─────────────────────────────────────\n# MAIN\n\
          # ─────────────────────────────────────\ndef main(query: str, context: str,\
          \ role: str) -> dict:\n    # A) Kalkulasi KPI\n    kpi_summary, kpi_calculated,\
          \ total, hijau, kuning, merah = calc_kpi(context)\n\n    # B) Klasifikasi\n\
          \    category = classify_query(query, role)\n\n    # C) Ekstrak parameter\n\
          \    params = extract_params(query)\n\n    # D) Rewrite query\n    enriched_query\
          \ = rewrite_query(query, params, kpi_summary)\n\n    # E) System hint\n\
          \    system_hint = build_system_hint(category, role, params)\n\n    return\
          \ {\n        \"kpi_summary\":    kpi_summary,\n        \"kpi_calculated\"\
          : kpi_calculated,\n        \"category\":       category,\n        \"param_json\"\
          :      json.dumps(params, ensure_ascii=False),\n        \"enriched_query\"\
          : enriched_query,\n        \"system_hint\":    system_hint,\n        \"\
          is_in_scope\":    category in (\"kpi_analysis\", \"admin_technical\")\n\
          \    }\n"
        code_language: python3
        desc: "Preprocessing all-in-one: kalkulasi KPI, klasifikasi query, ekstraksi\
          \ parameter, query rewrite, dan system hint — semua tanpa LLM."
        outputs:
          category:
            children: null
            type: string
          enriched_query:
            children: null
            type: string
          is_in_scope:
            children: null
            type: string
          kpi_calculated:
            children: null
            type: string
          kpi_summary:
            children: null
            type: string
          param_json:
            children: null
            type: string
          system_hint:
            children: null
            type: string
        selected: false
        title: "Code Preprocessor \u2699\uFE0F"
        type: code
        variables:
        - value_selector:
          - sys
          - query
          variable: query
        - value_selector:
          - start
          - context
          variable: context
        - value_selector:
          - start
          - role
          variable: role
      height: 54
      id: code_preprocessor
      position:
        x: 400
        y: 400
      positionAbsolute:
        x: 400
        y: 400
      type: custom
      width: 242

    # ══════════════════════════════════════════════════
    # NODE 3: IF/ELSE ROUTER
    # true  → is_in_scope = "True"  → Knowledge Retrieval → LLM
    # false → is_in_scope = "False" → Answer OOS
    # ══════════════════════════════════════════════════
    - data:
        conditions:
        - comparison_operator: is
          id: cond-scope
          value: 'True'
          varType: string
          variable_selector:
          - code_preprocessor
          - is_in_scope
        desc: Route berdasarkan hasil klasifikasi query
        logical_operator: and
        selected: false
        title: "Router: In Scope? \U0001F500"
        type: if-else
      height: 95
      id: ifelse_router
      position:
        x: 720
        y: 400
      positionAbsolute:
        x: 720
        y: 400
      type: custom
      width: 242

    # ══════════════════════════════════════════════════
    # NODE 4: KNOWLEDGE RETRIEVAL
    # Menggunakan enriched_query dari Code Preprocessor
    # top_k=8, threshold=0.3
    # ══════════════════════════════════════════════════
    - data:
        dataset_ids:
        - Ue95WEwzPBAoBEuBAdDh/F6tcivqZwRCieOT/jf9PJICKYFb7cuI+owDb59qQ0vG
        desc: Ambil konteks relevan dari Knowledge Base menggunakan query yang sudah
          diperkaya
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.3
          top_k: 8
        query_attachment_selector: []
        query_variable_selector:
        - code_preprocessor
        - enriched_query
        retrieval_mode: multiple
        selected: false
        single_retrieval_config:
          model:
            completion_params:
              temperature: 0.3
            mode: chat
            name: qwen-max
            provider: tongyi
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 95
      id: knowledge
      position:
        x: 1040
        y: 400
      positionAbsolute:
        x: 1040
        y: 400
      type: custom
      width: 242

    # ══════════════════════════════════════════════════
    # NODE 5: LLM UTAMA — satu-satunya LLM (qwen-max)
    # Menerima semua output dari Code Preprocessor
    # dan hasil Knowledge Retrieval
    # ══════════════════════════════════════════════════
    - data:
        context:
          enabled: true
          variable_selector:
          - knowledge
          - result
        desc: Satu-satunya LLM. Menerima data KPI terhitung, parameter terstruktur,
          dan hasil RAG.
        memory:
          role_prefix:
            assistant: KPI Assistant
            user: Pengguna
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            max_tokens: 4096
            temperature: 0.5
            top_p: 0.9
          mode: chat
          name: qwen-max
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: sys-main
          role: system
          text: "Anda adalah \"Asisten Eksekutif & Manajemen KPI\" yang Cerdas untuk\
            \ maskapai penerbangan.\n\n=== INSTRUKSI KONTEKSTUAL ===\nHak Akses (Role):\
            \ {{#start.role#}}\nKategori Query: {{#code_preprocessor.category#}}\n\
            {{#code_preprocessor.system_hint#}}\n\n=== DATA KPI TERHITUNG (ACUAN\
            \ ANGKA UTAMA) ===\nRingkasan:\n{{#code_preprocessor.kpi_summary#}}\n\
            \nDetail KPI (JSON dengan score & status):\n{{#code_preprocessor.kpi_calculated#}}\n\
            \n=== PARAMETER PERTANYAAN ===\n{{#code_preprocessor.param_json#}}\n\n\
            === DATA MAKRO EKONOMI (Kurs, Avtur, Inflasi) ===\n{{#start.context#}}\n\
            \n=== PANDUAN MENJAWAB BERDASARKAN ROLE ===\n\n[ROLE = \"direksi\"]\n\
            - Sangat ringkas, lugas, berbasis data. Seperti briefing CEO/BOD.\n- WAJIB\
            \ kaitkan KPI merah dengan faktor makro jika data tersedia di context.\n\
            - Struktur: 1) Kondisi terkini 2) Penyebab 3) Action Plan (bullet points)\n\
            - Maksimal 300 kata.\n\n[ROLE = \"corporate_planning\"]\n- Analisis bisnis\
            \ konsultan, mendalam dan terstruktur.\n- Kaitkan penurunan metrik dengan\
            \ faktor makro ekonomi.\n- Struktur: 1) Executive Summary 2) Analisis\
            \ Detail 3) Root Cause 4) Rekomendasi Strategis.\n\n[ROLE = \"admin\"\
            \ ATAU category = \"admin_technical\"]\n- Jawab sebagai IT Analyst Senior.\n\
            - Fokus pada struktur data, schema, API, integrasi, atau troubleshooting.\n\
            - Format JSON KPI: {\"nama\", \"aktual\", \"target\", \"pola\": \"MAX/MIN\"\
            }.\n\n=== RUMUS & ACUAN ===\nHijau >=90% | Kuning 75-89% | Merah <75%\n\
            Pola MAX: Akt/Tgt x100 | Pola MIN: Tgt/Akt x100\nGUNAKAN data dari kpi_calculated\
            \ di atas. JANGAN mengarang angka makro.\n"
        - id: usr-main
          role: user
          text: '{{#sys.query#}}'
        selected: false
        title: "KPI Assistant \U0001F916"
        type: llm
        vision:
          enabled: false
      height: 115
      id: llm_assistant
      position:
        x: 1360
        y: 400
      positionAbsolute:
        x: 1360
        y: 400
      type: custom
      width: 242

    # ══════════════════════════════════════════════════
    # NODE 6: ANSWER — Final
    # ══════════════════════════════════════════════════
    - data:
        answer: '{{#llm_assistant.text#}}'
        desc: ''
        selected: false
        title: "Answer \U0001F4E4"
        type: answer
      height: 101
      id: answer
      position:
        x: 1680
        y: 400
      positionAbsolute:
        x: 1680
        y: 400
      type: custom
      width: 242

    # ══════════════════════════════════════════════════
    # NODE 7: ANSWER — Out of Scope
    # ══════════════════════════════════════════════════
    - data:
        answer: "Maaf, pertanyaan Anda di luar cakupan sistem KPI Assistant ini.\
          \ \U0001F64F\n\nSaya dirancang untuk membantu:\n- \U0001F4CA Analisis &\
          \ performa metrik KPI maskapai\n- \U0001F4CB Laporan dan ringkasan departemen\n\
          - \U0001F4A1 Rekomendasi peningkatan KPI\n- \U0001F6E0\uFE0F Pertanyaan\
          \ teknis sistem KPI (role admin)\n\nSilakan ajukan pertanyaan seputar topik\
          \ tersebut."
        desc: Jawaban untuk pertanyaan di luar scope
        selected: false
        title: "Answer: Out of Scope \U0001F6AB"
        type: answer
      height: 101
      id: answer_oos
      position:
        x: 1040
        y: 620
      positionAbsolute:
        x: 1040
        y: 620
      type: custom
      width: 242

    viewport:
      x: 0
      y: 0
      zoom: 0.45
  rag_pipeline_variables: []
