dify/stable/v2/v2-web-kpi-assistant.yml
app:
  description: Chatflow asisten KPI maskapai penerbangan. Mendukung role admin, corporate_planning
    dan direksi. Menjawab pertanyaan tentang laporan KPI, memberikan insight, dan
    membantu memperkaya draft analisis.
  icon: 🤖
  icon_background: '#D1FAE5'
  mode: advanced-chat
  name: v2-web-kpi-assistant
  use_icon_as_answer_icon: true
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.30@04fa1c28928e92e425bc946f8f4f5c8f14d0531786c384f128c0e9445f1eee56
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: 'Halo! Saya KPI Assistant. Saya bisa membantu Anda:

      - 📊 Menganalisis data KPI departemen

      - 📋 Membuat ringkasan laporan

      - 💡 Memberikan rekomendasi improvement

      - ❓ Menjawab pertanyaan tentang performa KPI


      Silakan ajukan pertanyaan Anda.'
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - Apa KPI yang paling underperform bulan ini?
    - Berikan ringkasan performa keseluruhan
    - Apa rekomendasi untuk meningkatkan KPI yang merah?
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: knowledge-retrieval
      id: start-knowledge
      source: start
      sourceHandle: source
      target: knowledge
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: knowledge-llm
      source: knowledge
      sourceHandle: source
      target: llm_assistant
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: llm-answer
      source: llm_assistant
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: ''
        selected: true
        title: Start
        type: start
        variables:
        - label: Role Pengguna
          max_length: 48
          options:
          - corporate_planning
          - direksi
          - admin
          required: true
          type: select
          variable: role
        - label: Konteks Data (JSON)
          max_length: 65536
          required: false
          type: paragraph
          variable: context
      height: 134
      id: start
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: true
      type: custom
      width: 242
    - data:
        dataset_ids:
        - Ue95WEwzPBAoBEuBAdDh/F6tcivqZwRCieOT/jf9PJICKYFb7cuI+owDb59qQ0vG
        desc: Ambil konteks relevan dari Knowledge Base kpi-context
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.5
          top_k: 5
        query_attachment_selector: []
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        selected: false
        single_retrieval_config:
          model:
            completion_params:
              temperature: 0.3
            mode: chat
            name: qwen-max
            provider: tongyi
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 95
      id: knowledge
      position:
        x: 400
        y: 282
      positionAbsolute:
        x: 400
        y: 282
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - knowledge
          - result
        desc: Asisten AI role-aware untuk KPI
        memory:
          role_prefix:
            assistant: KPI Assistant
            user: Pengguna
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            max_tokens: 4096
            temperature: 0.5
            top_p: 0.9
          mode: chat
          name: qwen-max
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: a9022d14-1b80-485c-bc52-69f5239fa7a2
          role: system
          text: "Anda adalah \"Asisten Eksekutif & Manajemen KPI\" yang Cerdas.\n\n\
            Konteks Percakapan Saat Ini:\n- Hak Akses (Role): {{#start.role#}}\n-\
            \ Referensi Data KPI & Faktor Eksternal (Makro Ekonomi/Pasar): \n{{#start.context#}}\n\
            \nPANDUAN MENJAWAB BERDASARKAN ROLE (HAK AKSES):\n\n[JIKA ROLE = \"direksi\"\
            ]\n- Jawablah layaknya presentasi kepada jajaran CEO/BOD. Sangat ringkas,\
            \ lugas, bersandar pada data, tanpa basa-basi berlebih.\n- Kapanpun Direktur\
            \ bertanya mengapa pencapaian suatu KPI jelek atau apa penyebab kerugian,\
            \ Anda WAJIB memeriksa variabel Kurs USD, Harga Avtur/Minyak, atau Inflasi\
            \ yang terdapat dalam data context tersebut. Kaitkan dan jadikan faktor\
            \ penyebab yang logis!\n- Berikan rekomendasi tindakan (Action Plan) singkat\
            \ dengan *bullet points*.\n\n[JIKA ROLE = \"corporate_planning\"]\n- Gunakan\
            \ bahasa analisis bisnis (konsultan) yang runut dan mendalam.\n- Bantu\
            \ analis merapikan laporannya, dan kaitkan setiap kejatuhan metrik dengan\
            \ faktor data Makro di atas.\n\n[JIKA ROLE = \"admin\"]\n- Berperan sebagai\
            \ IT Analyst, bantu pertanyaan soal struktur database atau sistem.\n\n\
            --- RUMUS & ACUAN SISTEM ---\n\U0001F7E2 Hijau: Score >= 90% | \U0001F7E1\
            \ Kuning: 75-89% | \U0001F534 Merah: < 75%\nPola MAX: Akt/Tgt | Pola MIN:\
            \ Tgt/Akt\nSelalu utamakan referensi Data dari Context ({{#context#}})(Jangan\
            \ mengarang metrik inflasi/kurs buatan sendiri).\n"
        - id: 343279a2-eb5c-4abb-af26-d932e7864b8d
          role: user
          text: '{{#sys.query#}}'
        selected: false
        title: KPI Assistant
        type: llm
        vision:
          enabled: false
      height: 115
      id: llm_assistant
      position:
        x: 720
        y: 282
      positionAbsolute:
        x: 720
        y: 282
      selected: false
      type: custom
      width: 242
    - data:
        answer: '{{#llm_assistant.text#}}'
        desc: ''
        selected: false
        title: Answer
        type: answer
      height: 101
      id: answer
      position:
        x: 1060
        y: 282
      positionAbsolute:
        x: 1060
        y: 282
      type: custom
      width: 242
    viewport:
      x: 461.8341741799767
      y: 171.2460819194485
      zoom: 0.49999999999999994
  rag_pipeline_variables: []
